.page-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  width: 100%;

  @include media-breakpoint-down(sm) {
    position: absolute;
  }

  &.full-width {
    box-shadow: 0px 1px 3px 0px rgba(#000000, 0.3);

    .container {
      max-width: 100% !important;
      padding: 0 !important;
      transition: all 0.25s ease;
    }

    .row {
      &:first-of-type {
        display: none;

        @include media-breakpoint-down(sm) {
          display: flex;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    box-shadow: 0px 1px 3px 0px rgba(#000000, 0.3);

    .container {
      max-width: 100% !important;
      padding: 0 !important;
      transition: all 0.25s ease;

      @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    .row {
      &:first-of-type {
        // display: none;
      }
    }
  }
}

.contacts-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include media-breakpoint-down(sm) {
    // display: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    height: auto;
  }

  li {
    &:not(:last-of-type) {
      margin-right: 55px;

      @include media-breakpoint-down(lg) {
        margin-right: 35px;
      }

      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
    }

    @include media-breakpoint-down(sm) {
      flex-basis: 50%;
      text-align: center;
    }
  }

  a {
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    transition: color 0.25s ease;

    &:hover {
      color: #fdbe11;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 40px;
  background-color: #ffffff;

  @include media-breakpoint-down(lg) {
    padding: 0 20px;
  }
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;

  @include media-breakpoint-down(lg) {
    display: none;
  }

  li {
    &:not(:last-of-type) {
      margin-right: 40px;
    }
  }

  a {
    position: relative;
    display: block;
    height: 80px;
    font-weight: 700;
    font-size: 16px;
    line-height: 80px;
    color: #000000;

    &:hover {
      &:before {
        height: 4px;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background-color: #fdbe11;
      transition: height 0.25s ease;
    }
  }
}
