.s-offsets {
  padding-top: 27.5px;
  padding-bottom: 27.5px;

  &:first-of-type {
    padding-top: 55px;
  }

  &:last-of-type {
    padding-bottom: 55px;
  }
}

.s-title {
  font-weight: 700;
  font-size: 41px;
  color: #000000;
  margin-bottom: 55px;
}
